/* === */
body {
  text-align: center;
}

.route {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  list-style: none;
}

.tab li {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 1em;
  margin: 0.1em;
}

a {
  color: black;
}

/* NavLink가 선택된 상태일 때의 스타일 정의 */
.active {
  background-color: #888;
}

.news-main {
  border: 1px solid black;
  padding: 1em;
  width: 30em;
}
